/* .heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
} */

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .borderCircle {
        /* display: none; */
        margin:0 auto;
    }
}

.listItem {
    margin: 0 0 1.25rem;
}

.listItemLandingPage {
    margin: 0 0 3rem;
}

.lightText {
    color: #666;
}

.indexDateLink a {
    color: #666;
    text-decoration: none;
}

.indexDateLink a:hover {
    color: #fff
}

.clear {
    clear: both;
}

#right #footer {
    position: relative;
    right: 0px;
    text-align: right;
}

.descText {
    font-size: 1em;
}

.noUnderl a {
    text-decoration: none;
}

.aboutImg {
    border-radius: 999px;
}

.tagsul {
    padding-left: 0;
}

.tagsli {
    display:inline-block;
}

.posth3 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 0;
}

.post a.h3 {
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0;
}

#right .post a.h3:hover {
    background: none;
}

#right .post a.h3.link {
    text-decoration: underline;
}

/* #right .post a.h3.link:hover {
    color: #fff;
    background: #b997ce;
} */

#right #footer {
    position: relative;
    right: 0px;
    text-align: right;
}